<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="<%= url("/style.css")%>" />
  </head>

  <body>
    <div>
      <h1><%= @game.player_one.name %> attacked <%= @game.player_two.name %>!</h1>
      <h1><%= @game.player_two.name %>: <%= @game.player_two.hp %>HP</h1>
      <form action='/next_round'>
        <input class='button' type='submit' value='Switch!'>
      </form>
    </div>
  </body>
</html>
